table {
  border-collapse: collapse;
  width: 60%;
}
th,
td {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

.first_row {
  background-color: #238f8f;
}
.second_row {
  background-color: #f5f523;
}
.first_row:hover {
  background-color: #f5f523;
}
.second_row:hover {
  background-color: #238f8f;
}
/*з transform */
.cube {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  border-radius: 15px;
  border: 1.5px solid black;
}

#cube1 {
  background-color: rgb(184, 184, 243);
  transform: rotate(45deg) translateX(102px);
}

#cube2 {
  background-color: rgb(254, 106, 131);
  transform: rotate(80deg) translate(100px, -119px);
}

#cube3 {
  background-color: yellow;
  transform: rotate(100deg) translate(-25px, -9px);
}
/*з posotion */
.cube1 {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 15px;
  border: 1.5px solid black;
}

#cube4 {
  background-color: rgb(254, 106, 131);
  top: 308px;
  left: 540px;
  rotate: -280deg;
}

#cube5 {
  background-color: yellow;
  top: 308px;
  left: 420px;
  rotate: -168deg;
}

#cube6 {
  background-color: rgb(184, 184, 243);
  top: 200px;
  left: 480px;
  rotate: 45deg;
}
